<footer class="p-5p pt-0 md:flex text-center md:text-left uppercase justify-between">
     <div class="flex justify-center md:justify-start gap-10">
        <div class="p-3">
            <h4 class="mb-5 text-[0.9rem]"> lorem ipsum </h4>
            <p class="text-[0.6rem]"> dolor sit amet <br> consectetur <br> adipisicing <br> eligendi nam </p>
        </div>
        <div class="p-3">
            <h4 class="mb-5 text-[0.9rem]"> lorem ipsum </h4>
            <p class="text-[0.6rem]"> dolor sit amet <br> consectetur <br> adipisicing <br> eligendi nam </p>
        </div>
     </div>   

            <form class="p-3 shrink-0">
                <label for="name" class="tracking-widest block mb-5"> Subscribe to our newsletter </label>
                <input id="name" name="name" type="text"  class="mb-5 border-black border min-w-full block">
                <input type="submit" value="SUBSCRIBE"  class="bg-black mb-5  ml-auto text-white block py-2 px-10 cursor-pointer">
            </form>
</footer>